.App {
  text-align: center;
}

. 
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Player{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
 
 
